/* line 8, ../scss/master.scss */
body, .title.st3, .txt.st1, .txt.st3, .job {
  font-family: "nimbus-sans",sans-serif;
}

/* line 12, ../scss/master.scss */
.title.st1, .title.st2 {
  font-family: "cubano",sans-serif;
}

/* line 16, ../scss/master.scss */
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 22, ../scss/master.scss */
html {
  height: auto;
  min-height: 100%;
  border-left: 20px solid #95dbd5;
  font-size: 16px;
}
/* line 28, ../scss/master.scss */
html:before {
  content: '';
  height: 100%;
  display: block;
  position: absolute;
  left: 25px;
  border-left: 4px solid #ceefec;
}

/* line 38, ../scss/master.scss */
body {
  padding: 0.3rem 40px 2rem;
  color: #235666;
}
/* line 44, ../scss/master.scss */
body a {
  color: inherit;
  font-weight: bold;
  text-decoration: underline;
}
/* line 49, ../scss/master.scss */
body a:hover {
  color: #5badc7;
}

/* line 55, ../scss/master.scss */
footer {
  padding-top: 0.5rem;
}

/* line 59, ../scss/master.scss */
p {
  font-size: inherit;
}

/* line 63, ../scss/master.scss */
.site-main {
  max-width: 54rem;
}

/* line 67, ../scss/master.scss */
.title.st1 {
  margin-top: 0.35em;
  margin-bottom: 0em;
  font-weight: bold;
  line-height: 1;
  letter-spacing: 0.01em;
  color: #36a198;
  text-shadow: -0.015em 0.015em white, -0.05em 0.05em #95dbd5;
}
@media screen and (min-width: 680px) {
  /* line 67, ../scss/master.scss */
  .title.st1 {
    font-size: 4.2rem;
  }
  /* line 85, ../scss/master.scss */
  .title.st1 small {
    font-size: 3.1rem;
  }
}
@media screen and (max-width: 679px) and (min-width: 540px) {
  /* line 67, ../scss/master.scss */
  .title.st1 {
    font-size: 3.8rem;
  }
  /* line 93, ../scss/master.scss */
  .title.st1 small {
    font-size: 2.7rem;
  }
}
@media screen and (max-width: 539px) {
  /* line 67, ../scss/master.scss */
  .title.st1 {
    font-size: 3rem;
  }
  /* line 101, ../scss/master.scss */
  .title.st1 small {
    display: block;
    margin-top: 0.6em;
    font-size: 1.5rem;
  }
}

/* line 109, ../scss/master.scss */
.title.st2 {
  margin-top: 0;
  margin-bottom: 0.25em;
  font-weight: bold;
  font-size: 1.5rem;
  line-height: 1.1;
}

/* line 118, ../scss/master.scss */
.title.st3 {
  margin-top: 0;
  margin-bottom: 0.2em;
  font-weight: bold;
  font-size: 1.15rem;
  line-height: 1.1;
}
/* line 126, ../scss/master.scss */
.title.st3 span {
  margin-left: 0.4em;
  color: #5badc7;
  font-size: 0.75em;
}
@media screen and (max-width: 539px) {
  /* line 134, ../scss/master.scss */
  .title.st3 span {
    display: block;
    margin-left: 0;
  }
}

/* line 142, ../scss/master.scss */
.txt.st1 {
  margin-bottom: 0.4em;
}

/* line 148, ../scss/master.scss */
.txt.st2 p {
  margin-top: 0;
  margin-bottom: 0;
}
/* line 153, ../scss/master.scss */
.txt.st2 small {
  display: block;
  margin-bottom: 0.5em;
  font-size: 0.75em;
}

/* line 160, ../scss/master.scss */
.txt.st3 {
  margin-top: 0.5em;
  margin-bottom: 0.4em;
  color: #5badc7;
  font-weight: bold;
}

/* line 170, ../scss/master.scss */
.panels.ly1 {
  margin: 1.5rem 0 2rem;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  justify-content: flex-start;
  -webkit-align-items: stretch;
  align-items: stretch;
  align-content: center;
}
/* line 184, ../scss/master.scss */
.panels.ly1 > div {
  -webkit-box-flex: 1 1 auto;
  -moz-box-flex: 1 1 auto;
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
}
@media screen and (min-width: 680px) {
  /* line 170, ../scss/master.scss */
  .panels.ly1 {
    flex-wrap: no-wrap;
  }
  /* line 195, ../scss/master.scss */
  .panels.ly1 > div:not(:first-of-type) {
    margin-left: 4px;
  }
}
@media screen and (max-width: 679px) {
  /* line 170, ../scss/master.scss */
  .panels.ly1 {
    flex-wrap: wrap;
  }
  /* line 203, ../scss/master.scss */
  .panels.ly1 > div {
    width: 100%;
    margin-top: 4px;
  }
}

/* line 212, ../scss/master.scss */
.panels.st1 > div {
  padding: 1.6em 1.4em;
  background: #cde6ee;
  border: 1px solid #bedee9;
}

/* line 220, ../scss/master.scss */
.job {
  max-width: 670px;
  margin-top: 0.5rem;
  margin-bottom: 1.5rem;
  font-size: 1rem;
}
/* line 228, ../scss/master.scss */
.job p:first-of-type {
  margin-top: 0;
}

/* line 233, ../scss/master.scss */
.list.st1 {
  list-style-type: none;
  max-width: 140px;
  margin: 0 0 0.6em;
  padding-left: 0;
  font-size: 0.9em;
}
/* line 240, ../scss/master.scss */
.list.st1 li {
  display: inline-block;
}
/* line 243, ../scss/master.scss */
.list.st1 li:not(:last-of-type) {
  margin-right: 0.05em;
}
/* line 247, ../scss/master.scss */
.list.st1 li:not(:first-of-type):not(.break):before {
  content: "\00B7";
  display: inline-block;
  vertical-align: text-top;
  margin-top: 2px;
  margin-right: 0.5em;
  font-size: 0.8em;
}

/* line 259, ../scss/master.scss */
.list.st2 {
  list-style-type: none;
  margin: 0 0 0.5em;
  padding-left: 0;
  color: #5badc7;
  font-weight: bold;
}
/* line 266, ../scss/master.scss */
.list.st2 li {
  display: block;
}

/* line 272, ../scss/master.scss */
.list.st3 {
  list-style-type: none;
  margin: 0.5em 0;
  padding-left: 0;
  color: #ff756b;
  font-weight: bold;
}
/* line 279, ../scss/master.scss */
.list.st3 li {
  display: inline-block;
}
/* line 282, ../scss/master.scss */
.list.st3 li:not(:first-of-type) {
  margin-left: 0.5em;
}
/* line 287, ../scss/master.scss */
.list.st3 a {
  text-decoration: none;
}
